WEBHOOK_VERIFY_TOKEN=
GRAPH_API_TOKEN=
GEMINI_API_KEY=
PORT=3000
BPS_API_KEY=
APP_SECRET=

WEBHOOK_VERIFY_TOKEN="ANY STRING"
GRAPH_API_TOKEN="GET FROM META"
APP_SECRET="YOUR_WHATSAPP_APP_SECRET_KEY_GET_FROM_FACEBOOK_DEV_DASHBOARD"

GEMINI_API_KEY="GET FROM GOOGLE STUDIO"

PORT_NODE=PORT_NODE
PORT_PY=PORT_PY

BPS_API_KEY="GET FROM BPS"

PEGAWAI_NUMBER='[
{"name": "name", "number": "phone_number"}
]'

BOT_NUMBER='phone_number'
BOT_NAME="app_name"